*
{
    box-sizing: border-box;
    
}

.topbar{grid-area: topbar;}
.section1{grid-area: section1;}
.section2{grid-area: section2;}
.section3{grid-area: section3;}
.section4{grid-area: section4;}
.section5{grid-area: section5;}
.section6{grid-area: section6;}
.section7{grid-area: section7;}
.footer{grid-area: footer;}

body
{
    display: grid;
    grid-template-areas: "topbar"
                         "section1"
                         "section2"
                         "section3"
                         "section4"
                         "section5"
                         "section6"
                         "section7"
                         "footer";
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.2;
}



.liens a
{
    text-decoration: none;
    font-family: Optimistic signature, Helvetica, Helvetica Neue, Arial, sans-serif;
    color: black;
}
.topbar{
    height: 73px;
    display: flex;
    padding: 0;
    margin: 0;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 1000;
}
.topbar-liens
{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding:0 76.8px;
}
.liens
{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 18px;
}
.liens a
{
    color: #677B8C;
}
.liens a:hover
{
    color: #677B8C;
    opacity: 0.4;
}
.sec1-text{
    width: 500px;
    margin: 0;
    padding: 0;
    margin-left: 11%;
}

.sec1-text h2
{
    font-size: 48px;
    line-height: 58px;
    word-wrap: break-word;
    color: #fff;
    margin: 0;
    padding: 0;
}
.sec1-body{
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}
.sec1-footer{
    display: flex;
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    align-items: center;
    gap: 15px;
}
.sec1-footer a{
    text-decoration: none;
    color: #fff;
}
/*.svg
{
    display: none;
}*/

.section2
{
    width: 100%;
    height: 676px;
    margin: 0;
    padding: 0;
    background-color: #F1F4F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec2-header, .sec2-body, .sec2-footer
{
    width: 100%;
}
.div-vide1
{
    height: 75px;
    width: 100%;
}
.div-vide2
{
    height: 20px;
    width: 100%;
}
.sec2-body
{
    align-items: flex-start;
    width: 100%;
}
.sec2-body h2
{
    height: 30px;
    letter-spacing: 3px;
    font-size: 24px;
    font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;  
}
.sec2-body p
{
    color: #4E5B6C;
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
}
.table-grid
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
    height: 410px;
    margin: auto;
    padding: 0;
    justify-content: space-between;
    gap: 20px;
}
.table
{
    background-color: #fff;
    flex-direction: row;
    height: 410px;
    padding: 30px;
}
.table-footer p
{
    align-items: end;
    color: red;
}
.table-vid1
{
    height: 20px;
}

.table1-header
{
  color: rgb(52, 72, 84);
  line-height: 24px;
  letter-spacing: 0.5px;
  font-size: 22px;
  font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;
  text-align: left;
}
.table1-body p
{
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
    word-wrap: wrap;
}
.table-footer a
{
    color:#344854;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .25px;
}
.sec2-footer
{
    width: 100%;
    height: 80px;
}

.section3
{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec3-vide1
{
    width: 100%;
    height: 72px;
}
.sec3-grid
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 1200px;
}
.sec3-header
{
    height: 73;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.sec3-header h2
{
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 3px;
    font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;
    color: #232323;
    word-wrap: break-word;
}
.sec3-header p
{
    color: #4E5B6C;
    font-size: 18px;
    line-height: 25px;
    font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;
}
.sec3-body
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.sec3-body .box
{
    border: solid 1px #e1e4e5;
    width: 360px;
    height: 290px;
    margin: auto auto 40px auto;
    padding: 15px 30px;
}
.box-head1 h3, .box-head2 h3, .box-head3 h3, .box-head4 h3, .box-head5 h3, .box-head6 h3
{
    font-size: 25px;
    font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;
    color:#199696;
    border-bottom: solid 4px #199696;
    padding-bottom: 12px;
    text-align: left;
    line-height: 48px;
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 0;
    width: fit-content;
}
.box-head2 h3
{
    color: #289664;
    border-bottom: solid 4px #289664;
}
.box-head3 h3
{
    color: #0A78BE;
    border-bottom: solid 4px #0A78BE;
}
.box-head4 h3
{
    color: #F06919;
    border-bottom: solid 4px #F06919;
}
.box-head5 h3
{
    color: #DC373C;
    border-bottom: solid 4px #DC373C;
}
.box-head6 h3
{
    color: #874B91;
    border-bottom: solid 4px #874B91;
}
.box-body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;  /*àrevoir pour comprendre*/
}
.box-body:last-child
{
    justify-content: flex-end;
}
.box-text
{
    padding: 25px 0;
    margin: 0;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    word-wrap: break-word;
    font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;
}
.box-footer
{
    margin: 0;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: inherit;
    font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}
.box-footer:hover
{
    opacity: 0.6;
}
.sec3-footer
{
    width: 100%;
}
.sec3-vide2, .sec3-vide3
{
    width: 100%;
    height: 30px;
}
.sec3-footer hr
{
    background: #dadde1;
    border-width: 0;
    height: 1px
}
.sec3-footer-footer
{
    margin: 0;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 15px;
    text-decoration: none;
    color: inherit;
    font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}
.sec3-footer-footer:hover
{
    opacity: 0.6;
}
.sec3-footer-footer p
{
    margin: 0;
}

.section4
{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.sec4-vide
{
    height: 70px;
    width: 100%;
}
.sec4-vide2
{
    width: 100%;
    height: 80px;
}
.sec4-body
{
    background-color: #1c1e21;
    width: 100%;
    height: 505px;
    display: flex;
    flex-direction: row;
}
.sec4-image
{
    width: 100%;
}
.sec4-img
{
    width: 100%;
}
.sec4-text
{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: inherit;
}
.sec4-text-body
{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.sec4-text-body h3
{
    font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;
    line-height: 1.2px;
    font-size: 32px;
    text-align: left;
}
.sec4-text-body .p1
{
    margin: 0;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    word-wrap: break-word;
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
}
.sec4-text-body-liens
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}
.sec4-text-body-liens a 
{
    text-decoration: none;
    color: inherit;
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}
.sec4-text-body-liens a p
{
    margin: 12px 0;
}
.sec4-text-body-liens-1rstcol, .sec4-text-body-liens-2ndcol
{
    display: flex;
    flex-direction: column;
}
.firstcol-1-el, .firstcol-2-el, .firstcol-3-el, .sndcol-1-el, .sndcol-2-el
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 5px;
}

.section5
{
    background-color: #F0EBF5;
    height: 493.2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.sec5-vide1
{
    width: 100%;
    height: 80px;
}
.sec5-grid
{
    height: 354px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.sec5-table1
{
    width: 460px; 
    height: 204px;
    display: flex;
    flex-direction: column;
}
.sec5-table1-h3
{
  color: rgb(60, 5, 60);
  line-height: 1.5;
  font-size: 40px;
  font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
  margin: 0;
}
.sec5-table1-p
{
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #3C053C;
    word-wrap: break-word;
}
.sec5-table1-liens
{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: inherit;
    align-items: center;
    gap: 15px;
}
.sec5-table1-liens:hover
{
    opacity: 0.6;
}
.sec5-table1-a-p
{
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #3C053C;
    word-wrap: break-word;
    margin: 0;
}
.sec5-table2
{
    width: 645px;
    height: 353px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
} 
.sec5-table2-icones
{
    width: 515px;
    height: 100%;
}
.icone-image
{
    width: 155px;
    height: 155px;
}
.table2-peloton, .table2-ford, .table2-audi, .table2-samsung, .table2-ikea, .table2-pinterest
{
    border: solid 1px rgba(0, 0, 0, 0.1);
}
.sec5-vide2
{
    width: 100%;
    height: 60px;
}

.section6
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 100%;
}
.sec6-vide1
{
    width: 100%;
    height: 75px;
}
.sec6-table
{
    width: 100%;
    height: 100%;
}
.sec6-table h2
{
    line-height: 30px;
    letter-spacing: 3px;
    font-size: 24px;
    text-align: left;
    color: #232323;
    word-wrap: break-word;
    font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;
    margin: 0;
}
.sec6-art
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    gap: 35px;
    height: 100%;
}
.sec6-art1 
{
    text-decoration: none;
    text-align: left;
    color: black;
}
.sec6-image-art1
{
    margin-bottom: 25px;
}
.sec6-image-art1:hover
{
    /*revenir pour m'occuper du zoom*/
}
.sec6-text-art1
{
    text-decoration: none;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;
    color: black;
}
.sec6-text-art1:hover
{
    color: rgba(0, 0, 0, 0.4);
}
.sec6-art2 
{
    text-decoration: none;
    text-align: left;
    color: black;
}
.sec6-image-art2
{
    margin-bottom: 25px;
}
.sec6-image-art2:hover
{
    /*revenir pour m'occuper du zoom*/
}
.sec6-text-art2
{
    text-decoration: none;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;
    color: black;
}
.sec6-text-art2:hover
{
    color: rgba(0, 0, 0, 0.4);
}
.sec6-art3 
{
    text-decoration: none;
    text-align: left;
    color: black;
}
.sec6-image-art3
{
    margin-bottom: 25px;
}
.sec6-image-art3:hover
{
    /*transform: scale(1.01);
    transition: 0.5s; images à transformer*/
}
.sec6-text-art3
{
    text-decoration: none;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;
    color: black;
}
.sec6-text-art3:hover
{
    color: rgba(0, 0, 0, 0.4);
}
.sec6-footer-art1, .sec6-footer-art2, .sec6-footer-art3
{
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    color: #232323;
    font-family: Facebook Reader, Helvetica, Helvetica Neue, Arial, sans-serif;
    word-wrap: break-word;
    margin-top: 15px;
}
.sec6-hr
{
    opacity: 0.1;
}
.sec6-footer
{
    width: 100%;
    height: 61px;
    display: flex;
    align-items: end;
    justify-content: end;
}
.sec6-footer-liens
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 10px;
    text-decoration: none;
    color: #232323;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-variant: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
}
.sec6-footer-liens:hover
{
    color: #232323;
    opacity: 0.5;
}
.sec6-liens-p
{
    margin: 0;
    padding: 0;
    margin-right: 20px;
}
.sec6-vide2
{
    width: 100%;
    height: 70px;
}

.section7
{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sec7-groupe-img
{
    width: 100%;
}
.sec7-art
{
    width: 100%;
    background-color: #ffddbf;
    display: flex;
    flex-direction: row;
    gap: 12%;
    align-items: center;
    justify-content: center;
}
.sec7-art1
{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 240px;
    justify-content: space-between;
}
.sec7-art1-h3
{
    font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;
    color: rgb(160, 53, 22);
    line-height: 34px;
    font-size: 24px;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}
.sec7-art1-p
{
    color: #A03516;
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
    word-wrap: break-word;
}
.sec7-art1-liens
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
    color: #A03516;
    align-items: center;
}
.sec7-art1-liens-p
{
    color: #A03516;
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
    word-wrap: break-word;
}
.sec7-art2
{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 240px;
    justify-content: space-between;
}
.sec7-art2-h3
{
    font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;
    color: rgb(160, 53, 22);
    line-height: 34px;
    font-size: 24px;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}
.sec7-art2-p
{
    color: #A03516;
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
    word-wrap: break-word;
}
.sec7-art2-liens
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
    color: #A03516;
    align-items: center;
}
.sec7-art2-liens-p
{
    color: #A03516;
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
    word-wrap: break-word;
}

.footer
{
    width: 100%;
    height: 1000px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.footer-table
{
    margin: 0;
    padding: 3% 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
.footer-body
{
    margin: 0;
    padding-top: 40px;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.footer-table1
{
    height: fit-content;
    width: 330px;
    display: flex;
    flex-direction: column;
}
.footer-table1-table
{
    width: fit-content;
    height: 152.8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-table1-table2
{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}
.nous-suivre
{
    color: #232323;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
}
.footer-table1-table2-lists
{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}
.footer-table2
{
    width: 220px;
    height: fit-content;
    display: flex;
    flex-direction: row;
}
.footer-table2-table
{
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.footer-table2-table-lists
{
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 15px;
    max-width: 220px;
}
.footer-table2-table-lists-content
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-table2-h4
{
    color: #232323;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.footer-table2-lists-li a
{
    text-decoration: none;
    color: #232323;
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
}
.footer-foot
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.footer-foot-ul
{
    border-top: 1px solid;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}
.meta-2024
{
    text-decoration: none;
    color: #232323;
    font-size: 18px;
    line-height: 20px;
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
}
.footer-foot-ul-list
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}  
.footer-foot-ul-list, .footer-foot-ul-list a
{
    text-decoration: none;
    color: #232323;
    font-size: 14px;
    line-height: 20px;
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
}
.footer-foot-ul-list a:hover
{
    opacity: 0.5;
}
.li-li
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 5px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
    body
    {
        display: flex;
        flex-direction: column;
    }
    .topbar{
        height: 90px;
        display: flex;
        padding: 0;
        margin: 0;
        position: fixed;
        background-color: #fff;
        width: 100%;
        z-index: 1000;
        flex-direction: row;
    }
    
    .topbar-liens
    {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 20px;
        margin: 0;
    }
    
    .liens
    {
        display: none;
        list-style: none;
    }
    .section1
    {
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    .sec1-text
    {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 50px 0;
    }
    
    .sec1-text-text
    {
        padding: 0 10px;
    }
    .sec1-background
    {
        width: 100%;
        height: 400px;
        background-image: url("assets/images/fdevimg3.png");
        background-position: center;
    }
    .sec1-text h2
{
    font-size: 30px;
    line-height: 40px;
    word-wrap: break-word;
    color: #fff;
    margin: 0;
    padding: 0;
}
.sec1-body{
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}
.sec1-footer{
    display: flex;
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    align-items: center;
    gap: 15px;
}
.sec1-footer a{
    text-decoration: none;
    color: #fff;
}
    .sec1-text-text h2,.sec1-text-text p, .sec1-footer a
    {
        color: black;
    }
    
    .section2
{
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    background-color: #F1F4F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec2-header, .sec2-body, .sec2-footer
{
    width: 100%;
}
.div-vide1
{
    height: 75px;
    width: 100%;
}
.div-vide2
{
    height: 20px;
    width: 100%;
}
.sec2-body
{
    align-items: flex-start;
    width: 100%;
}
.sec2-body h2
{
    height: 30px;
    letter-spacing: 3px;
    font-size: 24px;
    font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;
    padding-left: 40px;
    padding-right: 40px;  
}
.sec2-body p
{
    color: #4E5B6C;
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding-left: 40px;
    padding-right: 40px;
}
.table-grid
{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: auto;
    padding: 0;
    margin: 0 30px;
    justify-content: space-between;
    gap: 20px;
}
.table
{
    background-color: #fff;
    flex-direction: row;
    height: fit-content;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.table-footer p
{
    align-items: end;
    color: red;
}
.table-vid1
{
    height: 20px;
}
.table1-header
{
  color: rgb(52, 72, 84);
  line-height: 24px;
  letter-spacing: 0.5px;
  font-size: 22px;
  font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;
  text-align: left;
}
.table1-body p
{
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
    word-wrap: wrap;
}
.table-footer a
{
    color:#344854;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .25px;
}
.sec2-footer
{
    width: 1200px;
    height: 80px;
}

.sec3-grid
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
.sec3-header
{
    height: 73;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}
.sec3-body
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.box-body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;  /* àrevoir pour comprendre*/
}
.box-body:last-child
{
    justify-content: flex-end;
}
.sec3-footer-footer
{
    justify-content: center;
    text-align: center;
}

.sec4-body
{
    background-color: #1c1e21;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.sec4-text
{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 505px;
}
.sec4-vide2
{
    width: 0;
    height: 0;
}

.section5
{
    background-color: #F0EBF5;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.sec5-grid
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.sec5-table1
{
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
}
.sec5-table2
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.sec5-table2-icones
{
    width: 100%;
    height: 100%;
}
.sec5-vide2
{
    width: 0;
    height: 0;
}

.section6
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 100%;
}
.sec6-table
{
    width: 100%;
    height: 100%;
}
.sec6-art
{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 100px;
    height: 100%;
}

.section7
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-group
{
    width: 100%;
}
.sec7-group-img
{
    width: 100%;
    height: 100%;
}
.sec7-art
{
    width: 100%;
    height: 100%;
    padding-left:50px ;
    padding-right: 50px;
    background-color: #ffddbf;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.sec7-art1
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.sec7-art2
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.footer
{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.footer-table
{
    margin: 0;
    padding: 0;
    height: 100%;
    padding-left: 50px;
    /*padding-right: 50px;*/
}
.footer-body
{
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
}
.footer-table1
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer-table1-table
{
    width: 100%;
    height: 152.8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-foot
{
    width: 100%;
    display: flex;
    flex-direction: row;  
}
.footer-foot-ul
{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.footer-foot-ul-list
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

 }

 /* Small devices (portrait tablets and large phones, 600px and up) 
 @media only screen and (min-width: 600px) {
    
    

 }*/
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (max-width: 1200px) and (min-width: 800px) {  
    body
    {
        display: flex;
        flex-direction: column;
    }
    .liens
    {
        display: none;
        list-style: none;
    }
    .section1
    {
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    .sec1-text
    {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 50px 0;
    }
    
    .sec1-text-text
    {
        padding: 0 10px;
    }
    .sec1-background
    {
        width: 100%;
        height: 400px;
        background-image: url("assets/images/fdevimg3.png");
        background-position: center;
    }
    .sec1-text h2
{
    font-size: 30px;
    line-height: 40px;
    word-wrap: break-word;
    color: #fff;
    margin: 0;
    padding: 0;
}
.sec1-body{
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}
.sec1-footer{
    display: flex;
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    align-items: center;
    gap: 15px;
}
.sec1-footer a{
    text-decoration: none;
    color: #fff;
}
    .sec1-text-text h2,.sec1-text-text p, .sec1-footer a
    {
        color: black;
    }
    .section2
{
    width: 100%;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    background-color: #F1F4F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec2-header, .sec2-body, .sec2-footer
{
    width: 100%;
}
.div-vide1
{
    height: 75px;
    width: 100%;
}
.div-vide2
{
    height: 20px;
    width: 100%;
}
.sec2-body
{
    align-items: flex-start;
    width: 100%;
}
.sec2-body h2
{
    height: 30px;
    letter-spacing: 3px;
    font-size: 24px;
    font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;
    padding-left: 40px;
    padding-right: 40px;  
}
.sec2-body p
{
    color: #4E5B6C;
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding-left: 40px;
    padding-right: 40px;
}
.table-grid
{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    height: 100%;
    margin: auto;
    padding: 0;
    margin: 0 30px;
    justify-content: space-evenly;
}
.table
{
    background-color: #fff;
    width: 315px;
    flex-direction: row;
    height: 450px;
    padding: 30px;
}
.sec3-grid
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.sec3-header
{
    height: 73;
    display: flex;
    flex-direction: column;
    padding: 0 90px;
}
.sec3-body
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.box-body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;  /* àrevoir pour comprendre*/
}
.box-body:last-child
{
    justify-content: flex-end;
}
.sec3-footer-footer
{
    justify-content: center;
    text-align: center;
}

.section4
{
    width: 100%;
}
.sec4-image
{
    width: 100%;
}
.sec4-body
{
    background-color: #1c1e21;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.sec4-text
{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 505px;
}
.sec4-vide2
{
    width: 0;
    height: 0;
}
.section7
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-group
{
    width: 100%;
}
.sec7-group-img
{
    width: 100%;
    height: 100%;
}
.sec7-art
{
    width: 100%;
    height: 100%;
    padding-left:50px ;
    padding-right: 50px;
    background-color: #ffddbf;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.sec7-art1
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 60px;
    justify-content: space-between;
}
.sec7-art2
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 60px;
    justify-content: space-between;
}
.footer{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.footer-table
{
    width: 100%;
    height: 100%;

}
.footer-body
{
    width: 800px;
    height: 100%;
}


}

 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 1200px) {
    body
    {
        display: flex;
        flex-direction: column;
    }
    .topbar
    {
        width: 100%;
    }
    .topbar-liens
    {
        width: 100%;
    }
    .section1
    {
        width: 100%;
        background-image:url("assets/images/fdevimg.png") ;
        background-size: cover;
        background-position: center;
        height: 700px;
        animation: change 100s infinite ease-in-out;
        display: flex;
        justify-content: left;
        align-items: center;
        z-index: 2;
    }
@keyframes change{
    0%{
        background-image: url("assets/images/fdevimg.png");
    }
    33%{
        background-image: url("assets/images/fdevimg2.png");
    }
    66%{
        background-image: url("assets/images/fdevimg3.png");
    }
    100%{
        background-image: url("assets/images/fdevimg.png");
    }
}
.sec7-art
{
    width: 100%;
    height: 100%;
    background-color: #ffddbf;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.sec7-art1
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 0 15px 0 15px;
    justify-content: space-between;
}
.sec7-art2
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 0 15px 0 15px;
    justify-content: space-between;
}
.sec2-body
    {
        width: 1200px;
    }
    .footer
    {
        width: 100%;
    }
    .footer-table
    {
        width: 100%;
        justify-content: center;
        padding: 0;
    }
    .footer-body
    {
        width: 100%;
        justify-content: center;
    }
    .footer-foot
    {
        justify-content: center;
        padding-bottom: 50px;
    }
    .footer-foot-ul
{
    align-items: center;
    border-top: 1px solid;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 1200px;
    justify-content: space-between;
}
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 850px) and (max-width: 1200px) {
    .section4
{
    width: 100%;
}
.sec4-image
{
    width: 100%;
}
.sec4-body
{
    background-color: #1c1e21;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}
 }